.movies{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  column-gap: 10px;
  row-gap: 10px;
}

.movies_button{
  padding: 40px 0 0 400px;
  display: flex;
  column-gap: 30px;
}

button{
  width: 100px;
}

.movie_title{
  text-align: center;
}
