*{
  margin: 0;
  padding: 0;
}
ul{
  display: flex;
  justify-content: center;
  background: cornflowerblue;
  height: 50px;
  align-items: center;
  column-gap: 150px;
}

li{
  list-style: none;
}
a{
  text-decoration: none;
  color: white;
}
